.footer {
  background: #141414;
  margin-top: 160px;
}

.footer-container {
  max-width: 1200px;
  padding: 60px 20px 60px 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-descricao {
  font-size: 1.5rem;
  line-height: 1.33;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.footer-copy {
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
