.header {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.header img {
  grid-column: 2;
}

.header-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-lista a {
  display: block;
  text-decoration: none;
  background: #3d3d3d;
  color: #f0f0f0;
  padding: 0.625rem 1.25rem;
  border-radius: 4px;
}

.header-lista a:hover {
  background: #141414;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
